<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viver Colégio e Curso</title>
    <link rel="sortcut icon" href="../../images/logo.ico" type="image/x-icon" />

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/home-page.css">
    <link rel="stylesheet" href="/style/nav-sidebar.css">
</head>
<body>
    <div id="home-page">
        <div class="container">
            <footer class="search-bar">
                <img class="filter" src="../images/lupa-pesquisa.png" alt="Pesquisar">
            </footer>
            <header class="menu">
                <div href="home-page.html" class="logo">
                    <img src="../images/logo.png" alt="Viver colégio e curso">
                </div>
                <div class="open-menu" hidden></div>
                <nav class="menu-options">
                    <ul>
                        <li><a href="home-page.html" class="active">Início</a></li>
                        <li><a href="2">Institucional</a></li>
                        <li><a href="2">Fotos</a></li>
                        <li><a href="2">Comunicados</a></li>
                        <li><a href="2">Esportes</a></li>
                        <li><a href="2">Aluno</a></li>
                        <li><a href="2">Contatos</a></li>
                    </ul>
                </nav>
            </header>
            <figure id="items-wrapper">
                    <div id="items">
                        <img class="item" src="../images/viver-slogan.png" alt="Viver colégio e curso slogan">
                        <img class="item" src="../images/robotica.png" alt="Viver-robótica">
                    </div>
            </figure>
            <main>
                <section>
                    
                </section>
                <aside>

                </aside>
            </main>
        </div>
    </div>
    <script src="../scripts/home-page.js"></script>
</body>
</html>