<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viver Colégio e Curso</title>
    <link rel="sortcut icon" href="../images/logo.ico" type="image/x-icon" />

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/landing-page.css">
</head>
<body>
    <div id="page-landing">
        <div class="container">
            <header>
                <a href="/views/home-page.html">
                    <img src="../images/logo.png" alt="Viver colégio e curso" class="logo">
                </a>
            </header>
            
            <main>
                <article>
                    <h1>A jornada dos seus filhos começa aqui!</h1>
                </article>
            </main>
            <footer>
                <a href="home-page.html" class="button">
                    <img src="../images/arrow-red.png" alt="Ir para home">
                </a>
            </footer>
        </div>
    </div>
</body>
</html>